 /*Site Color:
  #1A446C - blue grey
  #689DC1 - light bluue
  #D4E6F4 - very light blue
  #EEE4B9 - light tan
  #8D0D19 - burgundy
 */
 
 html{height: 100%; width: 100%}
 body{width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; font-family: verdana, Arial, Helvetica, sans-serif; background: #333333; font-size: 13px; line-height: 10px;}
 img{border: none;}
 table, tr, td {border-collapse:collapse; vertical-align: top; font-size: 13px; line-height: 10px;}
 a {color: #FFCC33;}
  
 #header{height:120px; margin: 0px; padding: 0px;text-align: right; background: #ffffff; color: #ffffff;}
 #header h1{padding: 1em; margin: 0px;}
 
 #main{margin: 0px; padding: 0px; height: 600px; width: 100%; background: #ffffff;}
 #structure{height: 600px; width: 100%;}
 #footer{height: 2em; margin: 0px;padding: 1em; text-align: center; background: #efefef; color: #000000; }
 
 /*Navigation*/
 #navigation{width: 150px;padding: 1em 2em; color: #34c7fe; background: #f8f8f8;}
 #navigation a{color: #000080; text-decoration: none;}
 ul.subjects {padding-left: 0; list-style: none;}
 ul.pages{padding-left: 2em; list-style: square;}
 .selected{font-weight: bold;}
 
 /*Page content*/
 #page{padding-left: 1em; vertical-align: top; background: #ffffff;}
 #page h2{color: #FFCC33; margin-top: 1em;}
 #page h3{color: #ffff00;}

 /*table on the page*/
 #page1{padding-left: 2em; vertical-align: top; background: #03bcaa;}
 #page1 h2{color: #FFCC33; margin-top: 1em;}
 #page1 h3{color: #000080;}
 
 #page2{padding-left: 2em; vertical-align: top; background: #D4E6F4;}
 #page2 h2{color: #FFCC33; margin-top: 1em;}
 #page2 h3{color: #FFCC33;}
 #page2 h5{color: #1A446C;}
 